<div class="post-preview">
  <a href="https://www.youtube.com/watch?v=4apSVQn-72M&t=8s" target="_blank">
    <h2 class="post-title"><span class="badge badge-secondary">New</span></h2>
    <h2 class="post-title"><%= episode.title %></h2>
    <h3 class="post-subtitle">
      How many 1s can we roll in a single session?  Apparently more than statistically possible!  Yes ladies and gentlemen, we broke statistics!  (Which is fine, cause I hated that class!)
    </h3>
  </a>
  <p class="post-meta">Streamed on March 3, 2018</p>
</div>