
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/ALL_headers.png')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Us</h1>
              <span class="subheading">What we do.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>We believe that board gaming is not only fun, but also a great way to promote, enrich and strengthen family and friend relationships.  We have seen in our own households how board gaming has gotten us off of our phones/tablets/TVs and around the table to interact with each other more, and we want others to experience that as well.</p> 

<p>    We aim to share our love and enthusiasm for board gaming in a family friendly and entertaining way to bring more people into the hobby and allow them to discover the positive aspects that it can bring to their lives and relationships.  We provide play throughs of board games to help people chose games that are right for them.</p>

<p>    We also want to use board gaming as a healing outreach by spending time playing board games with hospitalized children and their families through our outreach program, BGNerous.</p>
</div>
</div>
</div>


<div style="margin-top:5%"></div>



<!-- The Group -->
<div class="container">
<div class="col-lg-8 col-md-10 mx-auto">
  <div class="row">
    <div class="card" style="width:300px">
      <img class="card-img-top" src="img/chris.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h2 class="card-title">Chris</h2>
        <p class="card-text">I wear a cool shirt!</p>
        <a href="top_ten.html#Chris" class="btn btn-primary">My Top 10 Favorites</a>
      </div>
    </div>
    <div class="card" style="width:300px">
      <img class="card-img-top" src="img/wendy.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h2 class="card-title">Wendy</h2>
        <p class="card-text">STAND BACK I HAVE A TINY GUN!</p>
        <a href="top_ten.html#Wendy" class="btn btn-primary">My Top 10 Favorites</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card" style="width:300px">
      <img class="card-img-top" src="img/ryan.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h2 class="card-title">Ryan</h2>
        <p class="card-text">I'm not cupid?  Watch me.</p>
        <a href="top_ten.html#Ryan" class="btn btn-primary">My Top 10 Favorites</a>
      </div>
    </div>
    <div class="card" style="width:300px">
      <img class="card-img-top" src="img/ashley.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h2 class="card-title">Ashley</h2>
        <p class="card-text">I wear a mask so I am cool.</p>
        <a href="top_ten.html#Ashley" class="btn btn-primary">My Top 10 Favorites</a>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="card" style="width:600px">
      <img class="card-img-top" src="img/nooblets.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h2 class="card-title">The Nooblets</h2>
        <p class="card-text">DANCE!!!</p>
        <a href="top_ten.html#Nooblets" class="btn btn-primary">Our Top 10 Favorites</a>
      </div>
    </div>
  </div>

</div>
</div>


<div style="margin-top:5%"></div>



<div class="container">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="text-center">
      <div class="row">
        <h4>Check out our welcome video to learn more!</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8b30YEmeoBg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div style="margin-bottom:5%"></div>
    </div>
  </div>
</div>
